/build
/stamps
/source
/supp
/downloads
!/downloads/atmel-headers-6.1.3.1475.zip
!/downloads/avr32-patches.tar.gz

/gcc-*
/binutils-*
/newlib-*
/avr32-patches
/atmel-headers-*
/dfu-programmer-*

/autoconf-*
/automake-*
/gperf-*
/texinfo-*
